.footer-links {
  background-color: rgb(27, 67, 50);
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media {
  max-width: 1000px;
  width: 100%;
  color: rgb(183, 228, 199);
  font-size: 1.8rem;
  padding: 20px;
  display: flex;
  justify-content: center;
}

a {
  padding: 0px 20px;
}
